  <!-- Footer -->
  <footer class="footer py-5 bg-dark">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h3 class="ftitle">Reach.</h3>
                  <ul class="item-page">
                      <li class="">About</li>
                      <li class="">Rules</li>
                      <li class="">Support</li>
                  </ul>
              </div>
              <div class="col-6">
              </div>
              <div class="col">
                  <br/>
                  <br/>
                  <h3 class="ftitle">Reach Out Today.</h3>
                  <div class="row">
                      <div class="col white">Join Us</div>
                      <div class="col"></div>
                      <div class="col white"><i class="fas fa-chevron-right"></i></div>
                  </div>

              </div>
          </div>
      </div>
    <!-- /.container -->
  </footer>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=6LcUpL8UAAAAAIUqbPjUYyFvDxFGtQZoEWRSQ12y"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!--Solace Scripts -->
  <script src="solace/solclient.js"></script>
  <script src="solace/pubsubplusbroker.js"></script>
  <script src="solace/ui-handler.js"></script>
  <script src="solace/application-properties.js"></script>

  <script>
      grecaptcha.ready(function() {

        grecaptcha.execute('6LcUpL8UAAAAAIUqbPjUYyFvDxFGtQZoEWRSQ12y', {action:'post'})
                  .then(function(token) {
            // add token value to form
            document.getElementById('recaptchaToken').value = token;
        });

      });
  </script>

</body>

</html>
