  <!-- Footer -->
  <footer class="footer py-5 bg-dark">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h3 class="ftitle">Reach.</h3>
                  <ul class="item-page">
                      <li class="">About</li>
                      <li class="">Rules</li>
                      <li class="">Support</li>
                  </ul>
              </div>
              <div class="col-6">
              </div>
              <div class="col">
                  <br/>
                  <br/>
                  <h3 class="ftitle">Reach Out Today.</h3>
                  <ul class="item-page">
                      <li class="">Join Us &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <i class="fas fa-chevron-right"></i></li>
                  </ul>
              </div>
          </div>
      </div>
    <!-- /.container -->
  </footer>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=6LcUpL8UAAAAAIUqbPjUYyFvDxFGtQZoEWRSQ12y"></script>
  <script>
      grecaptcha.ready(function() {

        grecaptcha.execute('6LcUpL8UAAAAAIUqbPjUYyFvDxFGtQZoEWRSQ12y', {action:'post'})
                  .then(function(token) {
            // add token value to form
            document.getElementById('recaptchaToken').value = token;
        });

      });
  </script>

</body>

</html>
