  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">uOttaHack 4 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js?render=6LcUpL8UAAAAAIUqbPjUYyFvDxFGtQZoEWRSQ12y"></script>
  <script>
      grecaptcha.ready(function() {

        grecaptcha.execute('6LcUpL8UAAAAAIUqbPjUYyFvDxFGtQZoEWRSQ12y', {action:'post'})
                  .then(function(token) {
            // add token value to form
            document.getElementById('recaptchaToken').value = token;
        });

      });
  </script>

</body>

</html>
