{{>header}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-4 mb-4">
            <br/>
            <br/>
            <br/>
            <h3>What's on your mind?</h3>
            <a type="button" class="btn btn-success" href="/post">Create post <i class="fas fa-arrow-circle-right"></i></a>
            <br/>
            <br/>
            <form>
                <div class="form-group">
                    <select class="form-control" name="categoryId">
                        <option value="0">-- Choose --</option>
                        {{#categories}}
                        <option value="{{id}}">{{name}}</option>
                        {{/categories}}
                    </select>
                    <br/>
                    <a type="submit" class="btn btn-success">Sort by topic<i class="fas fa-filter"></i></a>
                </div>
            </form>
            <br/>
            {{#posts}}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{title}}</strong></h4>
                        <h5><strong>{{user}} - {{timeAgo}}</strong></h5>
                        <p class="card-text">{{content}}</p>
                        <p><strong>Topics </strong> {{categories}}</p>
                        <a href="/comment?postId={{id}}" class="btn btn-success">Comment <i class="fas fa-comments"></i></a>
                        <br/><br/>
                        <h5><strong>IBM Watson Tone Analyzer: </strong></h5>
                        {{#tones}}
                            <button type="button" class="btn btn-dark">
                                {{toneName}} <span class="badge bg-secondary">{{score}}</span>
                            </button>
                        {{/tones}}
                    </div>
                </div>
                <br/>
            {{/posts}}
            {{^posts}}
                <h1>No posts!</h1>
            {{/posts}}
        </div>
    </div>
</div>

{{>footer}}