{{>header}}

<div class="container">
    <div class="row">
        <div class="col-lg-12 mt-4 mb-4">
            <br/>
            <br/>
            <br/>
            <h3>What's in your mind?</h3>
            <button type="button" class="btn btn-primary">Create post</button>
        </div>
    </div>
</div>

{{>footer}}