{{>header}}

<div id="wrap">
    <div id="main" class="container">
        <div class="row">
            <div class="col-lg-12 mt-4 mb-4">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h1 class="c-warning">You’re not alone. Reach out to people just like you.</h1>
                <br/>
                <div class="row">
                    <div class="col">
                        <div class="card bcard">
                            <div class="card-body">
                                <h3 class="card-title">Chat</h3>
                                <p class="card-text">
                                    Life is difficult sometimes, and it helps to talk about it. It can be hard to cope with stressful times alone, so get it
                                    <br/>
                                    off your chest; we’re here to listen and listen well. Sometimes we all just need to speak from the heart,
                                    <br/>
                                    without fear of being judged.
                                </p>
                                <a href="/live-chat" class="btn btn-success">Go</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bcard">
                            <div class="card-body">
                                <h3 class="card-title">Offer Help</h3>
                                <p class="card-text">
                                    If you’re willing to lend an ear, take some time and help spread some love to others who may be needing it. When you
                                    <br/>
                                    listen and allow someone to empty their heart, that's when you can make profoundly human connections. Remember, be
                                    <br/>
                                    supportive and kind.
                                </p>
                                <a href="/" class="btn btn-success">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}