{{>header}}

<div id="wrap">
    <div id="main" class="container">
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-12 mt-4 mb-4">
                <br/>
                <br/>
                <br/>
                <h1 class="c-warning">We’ve detected that your message may not be appropriate.</h1>
                <p>
                    Remember, this site is a safe space for people who need support and heart-to-heart conversation. Griefing is prohibited
                    <br/>
                    on this site. Otherwise, try to reword the message to not be too aggressive in your tone.
                </p>

                <a type="button" class="btn btn-success" href="/"><i class="fas fa-chevron-left"></i> Back</a>
                <br/>

            </div>
        </div>
    </div>
</div>

{{>footer}}