{{>wheader}}

<div id="wrap">
    <br/>
    <br/>
    <br/>
    <div id="main" class="container clear-top">
        <br/>
        <br/>
        <div class="row">
            <div class="col">
                <br/>
                <br/>
                <h1 class="wheader">
                    Life is hard enough
                    <br/>
                    alone. Do not fight
                    <br/>
                    this on your own.
                </h1>
                <p>&nbsp;</p>
                <p>Be open about anything that's troubling you. Reach out to anyone and
                    <br/>
                    get it off your chest without the fear of being judged
                </p>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success" type="submit">Sign Up <i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit">Start Quick Chat <i class="fas fa-chevron-right"></i></button>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col">
                <img src="img/hero.svg">
            </div>
        </div>
    </div>
</div>

{{>footer}}